/* blog section */
.blog{
  background: #f8f8f8;
}
.blog-item{
  width:30%;
  background: #fff;
}
.blog-item .blog-item-image img{
  width: 100%;
}
.order-me{
  padding: 20px;
}
.blog-list{
  list-style: none;
  margin: 10px 0;
}
.blog-list li{
  display: inline-block;
  margin: 0 5px;
}
.blog-list li .icon{
  color: #6159ff;
}
 .blog-item-title{
  margin: 20px 0;
  font-weight: bold;
}
.blog-desc{
  color: #999;
  margin-bottom: 10px;
  line-height: 1.5;
}
.blog-link{
  color: #6195ff;
  text-transform: capitalize;
}
.blog-item.mg{
  margin: 0 5%;
}
